.account-form{

}

.account-fields{
    float:left;
}

.usage-fields, .peak-fields{
    float:left;
    margin-left:2em;
}

/**
* Electricity Chart Styles
*/
#chartContainer{
    height: 380px;
    clear: both;
}

.graph-top-content, .graph-bottom-content{
    width: 100%;
    display: inline-block;
    margin: auto;
}

.graph-form{
    float:left;
}

.account-table{
    float:right;
}

