{#
  @file
  Default theme implementation

  @see 'template_preprocess_pps_energy_tracker_css()'
#}
{{ attach_library('pps_energy_tracker/pps_energy_tracker_css') }}
<div id="energy_tracker_container">
    <div id="graph-form">
        {{ element_content }}
    </div>
    <div class="graph-content">
       {% if graph_data %}
           {{ attach_library('pps_energy_tracker/pps_energy_tracker_graph') }}
           <script>
               var dataPoints = [];
               var passedFromController = {{ graph_data|json_encode|raw }};
               //passedFromController Format -> "2013-03-01"[0.0478175]
               var parsed = JSON.parse(passedFromController);
               window.onload = function () {
                   for(var key in parsed)
                       dataPoints.push({x: new Date(key), y: parsed[key][0]});

                   var chart = new CanvasJS.Chart("chartContainer",
                    {
                       title:{
                           text: "PJM West" + " XXXX " + "Pricing"
                       },
                       axisX: {
                           valueFormatString: "MMM",
                           interval:1,
                           intervalType: "month"
                       },
                       axisY:{
                           includeZero: false
                       },
                       data: [
                        {
                           type: "line",
                           dataPoints: dataPoints
                        }
                        ]
                    });
                chart.render();
               }
           </script>
            <div id="chartContainer" style="width: 800px; height: 380px;"></div>
        {% endif %}
    </div>
    <a href="/energy_tracker">Back to Energy Tracker Home</a>
</div>