{#
  @file
  Default theme implementation

  @see 'template_preprocess_pps_energy_tracker_css()'
#}

{{ attach_library('pps_energy_tracker/pps_energy_tracker_css') }}

<div>
    <div>
        <p>Hello World: Energy Tracker</p>
        <a href="/energy_tracker/generic_graphs">Generic</a> </br>
        <a href="/energy_tracker/electricity_graphs">Electricity Graphs</a> </br>
        <a href="/energy_tracker/natural_gas_graphs">Natural Gas Graphs</a> </br>
        <a href="/">PPS Home Page</a> </br>
    </div>
    <div id="account-table">
        {{ table_content }}
    </div>

    <div id="account-form">
        {{ element_content }}
    </div>

    <a href="/energy_tracker">Back to Energy Tracker Home</a>
</div>