{#
  @file
  Default theme implementation

  @see 'template_preprocess_pps_energy_tracker_css()'
#}
{{ attach_library('pps_energy_tracker/pps_energy_tracker_css') }}
<div id="energy_tracker_container">
    <div>
        <a href="/energy_tracker/electricity_graphs">Electricity Graphs</a> </br>
        <a href="/energy_tracker/natural_gas_graphs">Natural Gas Graphs</a> </br>
        <a href="/energy_tracker/account_management">Account Management</a> </br>
        <a href="/">PPS Home Page</a> </br>
    </div>
    <div id="graph-top-content">
        <div class="graph-form">
            {{ element_content }}
        </div>
    </div>
    <div class="graph-content">
       {% if graph_data %}
           {{ attach_library('pps_energy_tracker/pps_energy_tracker_graph') }}
            <script>
                var d = new Date();
                var dataPoints = [];
                var passedFromController = {{ graph_data|json_encode|raw }};
                //passedFromController Format -> "2013-03-01"[0.0478175]
                var parsed = JSON.parse(passedFromController);
                window.onload = function () {
                for(var key in parsed)
                    dataPoints.push({x: new Date(key), y: parsed[key][0]});

                    var chart = new CanvasJS.Chart("chartContainer",
                    {
                        zoomEnabled: true,
                        animationEnabled: true,
                        interactivityEnabled: true,
                        exportEnabled: true,
                        exportFileName: "ChartExport-" + d.toTimeString(),
                        title:{
                        text: "PJM West" + " XXXX " + "Pricing"
                        },
                        axisX: {
                            labelAngle: 30,
                            valueFormatString: "MMM-YY",
                            intervalType: "month",
                            title: "Pricing Date"
                        },
                        axisY:{
                            prefix: "$",
                            interval: .002,
                            includeZero: false,
                            title: "Price Per kWh"
                        },
                        data: [
                        {
                            type: "line",
                            dataPoints: dataPoints
                        }
                        ]
                    });
                chart.render();
                }
           </script>
            <div id="chartContainer"></div>
        {% endif %}
    </div>
</div>