{#
  @file
  Default theme implementation

  @see 'template_preprocess_pps_energy_tracker_css()'
#}

{{ attach_library('pps_energy_tracker/pps_energy_tracker_css') }}

<div>
    <p>Hello World: Energy Tracker - Electricity Graphs</p>
    <a href="/energy_tracker">Back to Energy Tracker Home</a>
</div>