{#
  @file
  Default theme implementation

  Available variables:
  //TODO: Add variables passed in on the home page of the Energy Tracker

  @see 'template_preprocess_pps_energy_tracker_css()'
#}

{{ attach_library('pps_energy_tracker/pps_energy_tracker_css') }}

<div>
    <p>Hello World: Energy Tracker</p>

</div>